## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN"], axis = 1)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:

name_counts = application_df["NAME"].value_counts()
name_counts[name_counts > 5]

NAME
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: count, Length: 354, dtype: int64

In [4]:

names_to_replace = list(name_counts[name_counts <= 5].index)

for app in names_to_replace:
    application_df["NAME"] = application_df["NAME"].replace(app, "Other")

application_df["NAME"].value_counts()

NAME
Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: count, Length: 355, dtype: int64

In [5]:

# Determine the number of unique values in each column.
application_df.nunique()

NAME                       355
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = application_df["CLASSIFICATION"].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_with_dummies_df = pd.get_dummies(application_df)
application_with_dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_with_dummies_df.drop(["IS_SUCCESSFUL"], axis = 'columns').values
y = application_with_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 78)
X

array([[1, 5000, False, ..., False, True, False],
       [1, 108590, False, ..., False, True, False],
       [1, 5000, False, ..., False, True, False],
       ...,
       [1, 5000, False, ..., False, True, False],
       [1, 5000, False, ..., False, True, False],
       [1, 36500179, False, ..., False, True, False]], dtype=object)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_feature = len(X_train[0])
hidden_nodes_layers1 = 100
hidden_nodes_layers2 = 30
hidden_nodes_layers3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units = hidden_nodes_layers1, input_dim = number_input_feature, activation = "relu")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units = hidden_nodes_layers2, activation = "sigmoid")
)

# Third hidden layer
nn.add(
    tf.keras.layers.Dense(units = hidden_nodes_layers3, activation = "sigmoid")
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units = 1, activation = "sigmoid")
)

# Check the structure of the model
nn.summary()

/opt/anaconda3/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 100)            │        39,900 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         3,030 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 10)             │           310 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │            11 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 43,251 (168.95 KB)

 Trainable params: 43,251 (168.95 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics= ["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 817us/step - accuracy: 0.7392 - loss: 0.5512
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 747us/step - accuracy: 0.7895 - loss: 0.4538
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 683us/step - accuracy: 0.7972 - loss: 0.4336
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 704us/step - accuracy: 0.7938 - loss: 0.4344
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 768us/step - accuracy: 0.7966 - loss: 0.4287
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 700us/step - accuracy: 0.7979 - loss: 0.4237
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 708us/step - accuracy: 0.7964 - loss: 0.4265
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 720us/step - accuracy: 0.7977 - loss: 0.4243
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 706us/step - accuracy: 0.8009 - loss: 0.4199
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 650us/step - accuracy: 0.7976 - loss: 0.4228
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 680us/step - accuracy: 0.7990 - loss: 0.4154
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 699us/step - accuracy: 0.8014 - loss: 0.4202
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 704us/step - accuracy: 0.7995 - loss: 0.4179
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 668us/step - accuracy: 0.7975 - loss: 0.4204
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 640us/step - accuracy: 0.8004 - loss: 0.4186
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 705us/step - accuracy: 0.8051 - loss: 0.4140
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 664us/step - accuracy: 0.8039 - loss: 0.4143
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 684us/step - accuracy: 0.8009 - loss: 0.4146
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 716us/step - accuracy: 0.8029 - loss: 0.4146
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 767us/step - accuracy: 0.8005 - loss: 0.4133
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 849us/step - accuracy: 0.8067 - loss: 0.4076
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 654us/step - accuracy: 0.8020 - loss: 0.4132
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 712us/step - accuracy: 0.8040 - loss: 0.4139
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 681us/step - accuracy: 0.8016 - loss: 0.4150
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 667us/step - accuracy: 0.8034 - loss: 0.4129
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 719us/step - accuracy: 0.8023 - loss: 0.4110
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 646us/step - accuracy: 0.8079 - loss: 0.4068
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 634us/step - accuracy: 0.8064 - loss: 0.4077
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 680us/step - accuracy: 0.8033 - loss: 0.4117
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 651us/step - accuracy: 0.8054 - loss: 0.4087
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 656us/step - accuracy: 0.8016 - loss: 0.4104
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 651us/step - accuracy: 0.8042 - loss: 0.4103
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 667us/step - accuracy: 0.8038 - loss: 0.4090
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 644us/step - accuracy: 0.8089 - loss: 0.4062
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 646us/step - accuracy: 0.8052 - loss: 0.4058
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 685us/step - accuracy: 0.8088 - loss: 0.4047
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 724us/step - accuracy: 0.8045 - loss: 0.4100
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 671us/step - accuracy: 0.8047 - loss: 0.4081
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 694us/step - accuracy: 0.8021 - loss: 0.4118
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 701us/step - accuracy: 0.8051 - loss: 0.4097
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 664us/step - accuracy: 0.8037 - loss: 0.4107
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 715us/step - accuracy: 0.8089 - loss: 0.4040
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 626us/step - accuracy: 0.8106 - loss: 0.3999
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 633us/step - accuracy: 0.8122 - loss: 0.4008
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 673us/step - accuracy: 0.8086 - loss: 0.4063
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 634us/step - accuracy: 0.8064 - loss: 0.4067
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 682us/step - accuracy: 0.8024 - loss: 0.4068
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 652us/step - accuracy: 0.8026 - loss: 0.4116
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 695us/step - accuracy: 0.8076 - loss: 0.4038
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 754us/step - accuracy: 0.8090 - loss: 0.4029
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 709us/step - accuracy: 0.8113 - loss: 0.4002
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 740us/step - accuracy: 0.8075 - loss: 0.4029
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 655us/step - accuracy: 0.8061 - loss: 0.4035
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 651us/step - accuracy: 0.8106 - loss: 0.4009
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 719us/step - accuracy: 0.8066 - loss: 0.4039
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 684us/step - accuracy: 0.8037 - loss: 0.4074
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 766us/step - accuracy: 0.8062 - loss: 0.4071
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 716us/step - accuracy: 0.8098 - loss: 0.4016
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 671us/step - accuracy: 0.8089 - loss: 0.3987
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 704us/step - accuracy: 0.8032 - loss: 0.4094
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 797us/step - accuracy: 0.8089 - loss: 0.4033
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 735us/step - accuracy: 0.8072 - loss: 0.4048
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 768us/step - accuracy: 0.8123 - loss: 0.3981
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8067 - loss: 0.4023
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8024 - loss: 0.4078
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 872us/step - accuracy: 0.8069 - loss: 0.4031
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 918us/step - accuracy: 0.8070 - loss: 0.4039
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 765us/step - accuracy: 0.8087 - loss: 0.4010
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 826us/step - accuracy: 0.8077 - loss: 0.4039
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 789us/step - accuracy: 0.8095 - loss: 0.4010
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 761us/step - accuracy: 0.8086 - loss: 0.4020
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 784us/step - accuracy: 0.8078 - loss: 0.4022
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 755us/step - accuracy: 0.8072 - loss: 0.4022
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 771us/step - accuracy: 0.8076 - loss: 0.4001
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 723us/step - accuracy: 0.8070 - loss: 0.4047
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 796us/step - accuracy: 0.8085 - loss: 0.4027
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 780us/step - accuracy: 0.8128 - loss: 0.3988
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 770us/step - accuracy: 0.8068 - loss: 0.4026
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 699us/step - accuracy: 0.8045 - loss: 0.4050
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 730us/step - accuracy: 0.8062 - loss: 0.4051
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 810us/step - accuracy: 0.8107 - loss: 0.3979
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8098 - loss: 0.3989
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 708us/step - accuracy: 0.8084 - loss: 0.4012
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 781us/step - accuracy: 0.8116 - loss: 0.4016
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 739us/step - accuracy: 0.8104 - loss: 0.4052
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 816us/step - accuracy: 0.8062 - loss: 0.4017
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 800us/step - accuracy: 0.8112 - loss: 0.3953
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 767us/step - accuracy: 0.8088 - loss: 0.4032
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 811us/step - accuracy: 0.8093 - loss: 0.4030
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 752us/step - accuracy: 0.8112 - loss: 0.4001
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 796us/step - accuracy: 0.8057 - loss: 0.4079
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 736us/step - accuracy: 0.8043 - loss: 0.4058
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 823us/step - accuracy: 0.8068 - loss: 0.4048
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 784us/step - accuracy: 0.8045 - loss: 0.4044
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 923us/step - accuracy: 0.8077 - loss: 0.4034
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 801us/step - accuracy: 0.8098 - loss: 0.4009
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 824us/step - accuracy: 0.8050 - loss: 0.4061
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 723us/step - accuracy: 0.8088 - loss: 0.4004
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 814us/step - accuracy: 0.8103 - loss: 0.4018
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 723us/step - accuracy: 0.8079 - loss: 0.4001

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 600us/step - accuracy: 0.7875 - loss: 0.4452
Loss: 0.44522103667259216, Accuracy: 0.7875218391418457

In [18]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharityOptimized.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

# Overview of the analysis: Explain the purpose of this analysis.
# Results: Using bulleted lists and images to support your answers, address the following questions:
# Data Preprocessing
1. What variable(s) are the target(s) for your model?
- The target is the Is-Successful column.
2. What variable(s) are the features for your model?
- Features list of this model are the following: name, application, type affiliation classification use_case organization income special consideration status and ask amount.
3. What variable(s) should be removed from the input data because they are neither targets nor features?
- EIN (Employee identification)
# Compiling, Training, and Evaluating the Model
1. How many neurons, layers, and activation functions did you select for your neural network model, and why?
- For this model 3 hidden layers each with many neurons because the compute seems to increate the accuracy above 75% this expensive and costly. The first activations is relu and the other layers are sigmoid it might boost accuracy using the functions. Readjusting my data that names as a get dummies can factor in with better scores.
2. Were you able to achieve the target model performance?
- Yes.
3. What steps did you take in your attempts to increase model performance?
- Required to convert the NAME into data points which has the biggest impact on improving efficiency but costly and it requires adding third layer using sigmoid activation function.

# Summary: Summarize the overall results of the deep learning model.
- Overall the accuracy above 75% we are able to correctly classify each in the test 75% of the time. And an applicant has a 80% chance of being successful if they following this:
  - Name of applicants appears more than 5 tmes type of applications following T3 T4 T5 T6 T7 T8 T10 T19 application of following classification ...
# Include a recommendation for how a different model could solve this classification problem, and then explain your recommendation.
- RandomForest model

In [19]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [20]:
rf_model = RandomForestClassifier(n_estimators = 120, random_state = 78)

rf_model = rf_model.fit(X_train_scaled, y_train)

y_pred = rf_model.predict(X_test_scaled)

print(f"Random forest odel accuracy {accuracy_score(y_test, y_pred)}")

Random forest odel accuracy 0.7764431486880466